PORT=3000
JWT_SECRET_KEY="tu-clave-secreta-aqui"
GEMINI_API_KEY="tu-gemini-api-key"

# MongoDB Atlas
MONGO_DB_CONNECTION_STRING="mongodb://usuario:password@cluster.mongodb.net/?ssl=true..."

# Cloudinary
CLOUDINARY_CLOUD_NAME="tu-cloud-name"
CLOUDINARY_API_KEY="tu-api-key"
CLOUDINARY_API_SECRET="tu-api-secret"

# Eventbrite
EVENTBRITE_API_KEY="tu-eventbrite-api-key"
